.cards {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 28px 32px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 70px 10px;
  list-style: none;
  /* max-height: 1500px; */
}

.cards__error {
  margin: 0;
  text-align: center;
  color: #ff3055;
}

.cards__also {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 80px;
}

.cards__popup {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.cards__overlay {
  background-color: #000;
  opacity: 0.3;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cards__iframe {
  width: 560px;
  height: 315px;
  padding: 200px 50px;
  border-radius: 40px;
  position: relative;
  z-index: 5;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.cards__close {
  display: block;
  border: none;
  position: absolute;
  top: 22px;
  right: 22px;
  background: url(../../images/close.png) no-repeat;
  width: 22px;
  height: 22px;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.cards__close:hover{
  opacity: 0.7;
}

.cards__other {
  display: block;
  width: 320px;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 0;
  background: #f9f9f9;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: background 0.5s ease;
}

.cards__other:hover {
  background: #3456f3;
  color: #fff;
}

@media screen and (max-width: 1250px) {
  .cards {
    grid-template-columns: repeat(2, 342px);
    max-width: 768px;
    gap: 24px 35px;
    padding: 70px 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    grid-template-columns: 300px;
    max-width: 320px;
    gap: 16px;
    padding: 40px 10px 30px;
  }

  .cards__other {
    margin-top: 39px;
  }
}
